#swiperHome {
  padding-bottom: 0px !important;
} 
    
  #swiperHome .swiper-pagination-bullet-active {
    background-color: #917360 !important; /* Change to your desired active background color */
  }
  
  #swiperHome  .swiper-pagination-bullet {
    width: 12px; /* Change to your desired width */
    height: 12px; /* Optionally, change the height as well */
    /* Add any other styles as needed */
  }

  #swiperHome  .swiper-pagination {
    bottom: 1rem !important;
  }
  
  #swiperHome  .swiper-pagination-bullet {

    background: transparent;
    border: 3px solid #917360;
    margin-right: 0.7rem !important; /* Adjust the horizontal margin to increase the gap between bullets */
    /* Add any other styles as needed */
  }