

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

#bannerCategories .swiper-pagination-bullet-active {
  background-color: #917360 !important; /* Change to your desired active background color */
}

#bannerCategories .swiper-pagination-bullet {
  width: 16px; /* Change to your desired width */
  height: 16px; /* Optionally, change the height as well */
  /* Add any other styles as needed */
}

#bannerCategories .swiper-pagination-bullet {
  background: transparent;
  border: 2px solid #917360;
  margin-right: 0.7rem !important; /* Adjust the horizontal margin to increase the gap between bullets */
  /* Add any other styles as needed */
}